@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 20s linear infinite;
}

@font-face {
  font-family: "Geist-Circle";
  src: url("/fonts/GeistPixel-Circle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/GeistSans-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
