@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 20s linear infinite;
}

@font-face {
  font-family: "GeistPixelCircle";
  src: url("/fonts/GeistPixel-Circle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
